<form [formGroup]="passwordForm" class="example-form center" (ngSubmit)="onChangePassword(passwordForm.get('oldPassword')!.value, passwordForm.get('newPassword')!.value)">
  <div class="form-section">
    <mat-form-field class="custom-width">
      <mat-label>Old password</mat-label>
      <input matInput formControlName="oldPassword" type="password">
    </mat-form-field>

    <mat-form-field class="custom-width">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword">
    </mat-form-field>

    <mat-form-field class="custom-width">
      <mat-label>Repeat new password</mat-label>
      <input matInput formControlName="repeatPassword">
    </mat-form-field>


    <div *ngIf="passwordForm.hasError('mismatch') && (passwordForm.get('newPassword')?.dirty || passwordForm.get('repeatPassword')?.dirty)">
      Passwords do not match.
    </div>

    <div class="center">
      <button mat-button type="submit">Change password</button>
    </div>
  </div>
</form>
