<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar ></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
    <div class="row">
     
      <div class="col-lg-12 d-flex ">
        <div class="card w-100">
          <div class="card-body p-4">
            <div class="row">
              <h5 class="card-title fw-semibold mb-4 col-10">Parametre Universite</h5>
              <a href="#" class="btn  btn-primary col-2"> Enregistré</a>
            </div>
            
           <h1> HNEE NHOTO IL FORMULAIREEEE </h1>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
