<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
<app-side></app-side>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div class="project-info-box mt-0">
                <h5>bloc desciption</h5>
                <p class="mb-0">{{storedbloc?.description}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Nom bloc :</b> {{storedbloc?.nomBloc}}</p>
                <p><b>Bloc State:</b> {{storedbloc?.status}}</p>  
                <p><b>Capacite Bloc:</b>  {{storedbloc?.capaciteBloc}}</p>
                <p><b>number of chambers:</b>  {{numberOfChambers}}</p>
                <p><b>number of chambers per type :</b></p>
                <ul>
                  <li *ngFor="let stat of stats">
                    <b>{{stat[0]}}:</b> {{stat[1]}}
                  </li>
                </ul>
               
            </div><!-- / project-info-box -->
            <button type="submit" class="btn btn-primary" (click)="GoBack()">Back</button>

            
        </div><!-- / column -->

        
  
    </div>
</div>
</div>
</div>

