<h5 class="card-title fw-semibold mb-4">Update Université</h5>
<form (ngSubmit)="updateUniversite()">

  <div class="mb-3">
    <label  class="form-label">Nom Université</label>
    <input
      type="text"
      name="nomUniversite"
      [(ngModel)]="universite.nomUniversite"
      required
      class="form-control"
    >
  </div>

  <div class="mb-3">
    <label  class="form-label">Adresse Université</label>
    <input
      type="text"
      name="adresse"
      [(ngModel)]="universite.adresse"
      required
      class="form-control"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea
      name="description"
      [(ngModel)]="universite.description"
      required
      class="form-control"
    ></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Email de l'agent</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="universite.email"
      required
      
      class="form-control"
    >
  </div>

  <div class="mb-3">
    <label class="form-label">Prénom de l'agent</label>
    <input
      type="text"
      name="firstNameAgent"
      [(ngModel)]="universite.firstNameAgent"
      required
      class="form-control"
    >
  </div>

  <div class="mb-3">
    <label  class="form-label">Nom de l'agent</label>
    <input
      type="text"
      name="lastNameAgent"
      [(ngModel)]="universite.lastNameAgent"
      required
      class="form-control"
    >
  </div>

  <button type="submit" class="btn btn-primary">Update Université</button>
</form>