<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
     data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="card">
        <h1 class="title">Ajouter un Bloc</h1>
        <div class="main">
          <form #f="ngForm">
            <div class="f1">
              <label>Nom université</label>
              <input type="text" name="nomuniversite" placeholder="nom université" [(ngModel)]="nom" required #nominput="ngModel"  minlength="3" pattern="[a-zA-Z]*">
            </div>
            <div class="f1">
              <label>nom Bloc</label>
              <input type="text" name="nomBloc" placeholder="nom bloc" [(ngModel)]="bloc.nomBloc" required #nomBloc="ngModel"  minlength="3" pattern="[a-zA-Z]*">
            </div>
           <div class="f1">
             <label>CapaciteBloc</label>
             <input type="text" name="CapaciteBloc" placeholder="capacite bloc" [(ngModel)]="bloc.capaciteBloc" required  minlength="3" #CapaciteBloc="ngModel">
           </div>
            <input class="btn" type="submit" value="Ajouter Bloc" (click)="showbloc(f)" [disabled]="f.invalid">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


