<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />



    <!-- Contenu principal -->
    <div class="container-fluid mt-4"> <!-- Augmentez la marge en haut pour déplacer le contenu vers le bas -->
      <div class="row">
        <div class="col-6">
          <div class="project-info-box mt-0">
            <h3 class="display-4">Details chambre</h3>
          </div>
          <br>
          <div class="project-info-box">
            <p class="lead"><b>Nom Bloc:</b> {{ chamber.bloc.nomBloc }}</p> <hr>
            <p class="lead"><b>Numero Chambre:</b> {{ chamber.numerochamber }}</p> <hr>
            <p class="lead"><b>Type chambre:</b> {{ chamber.typeC }}</p> <hr>
            <p class="lead"><b>Description:</b> {{ chamber.description }}</p> <hr>
            <p class="lead"><b>Etat:</b> {{ chamber.etat }}</p> <hr>
            <p class="lead"><b>Date de Création:</b> {{ chamber.createdAt | date: 'yyyy-MM-dd' }}</p> <hr>
            <p class="lead"><b>Date de Modification:</b> {{ chamber.updatedAt | date: 'yyyy-MM-dd' }}</p>
          </div>
        </div>

        <div class="col-md-6">
          <img style="width: 600px; height: 450px; object-fit: cover;" class="img-fluid" [src]="'data:' + chamber?.image?.image_type + ';base64,' + chamber?.imagebyte" alt="Chambre Image">
          <div class="project-info-box">
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
