<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-side></app-side>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12 d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Demande Liste</h5>
              <div class="row g-3">
                <div class="col-md-9">
                  <input class="form-control mt-3 mb-3"
                    placeholder="Recherche Demande" [(ngModel)]='searchTerm'
                    type="text">
                </div>

              </div>
              <div class="table-responsive">

                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="table-info  text-dark fs-4">
                    <tr>

                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Nom Etudiant </h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Email Etudiant</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Année Universite</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Date Demande </h6>
                      </th>

                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Type Chambre</h6>
                      </th>
                      <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Etat</h6>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let demande of filterData()">
                    <tr>

                      <td class="border-bottom-0">
                        <p class="mb-0 fw-normal">{{demande.name}}</p>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-0 fs-4">{{demande.email}}</h6>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{demande.anneeUniversitaire}}</h6>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{demande.createdAt | date:
                          'yyyy-MM'}}</h6>

                      </td>

                      <td class="border-bottom-0">
                        <h6 class="mb-1"
                          [ngClass]="{
                                  'badge bg-primary rounded-3 fw-semibold': demande.typeChamber === 'Simple',
                                
                                  'badge bg-success rounded-3 fw-semibold': demande.typeChamber === 'Triple',
                                  'badge bg-danger rounded-3 fw-semibold': demande.typeChamber === 'Double',
                                }">
                          {{ demande.typeChamber }}
                        </h6>

                        <td class="border-bottom-0"
                          *ngIf="demande.state == 'EnCour'">
                          <a class="btn btn-danger"
                            (click)="updateDemandeState('Confirmer',demande.idDemande)">Verify</a>

                        </td>
                        <td class="border-bottom-0"
                          *ngIf="demande.state != 'EnCour'">
                          <h6 class="fw-semibold mb-1">{{demande.state}}</h6>
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>