<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
     data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">

        <h1 class="title">Ajouter un Bloc</h1>
        <div class="main">
          <form #f="ngForm">
            <div class="mb-3">
              <label for="nomUniversite" class="form-label">Nom universite</label>
              <input type="text" class="form-control" id="nomUniversite" [(ngModel)]="nomUniversite" required #nominput="ngModel">
            </div>
            <div class="mb-3">
              <label for="nomBloc" class="form-label">Nom bloc</label>
              <input type="text" class="form-control" id="nomBloc" [(ngModel)]="bloc.nomBloc" required #nominput="ngModel">
            </div>
            <div class="mb-3">
              <label for="capaciteBloc" class="form-label">Capacite bloc</label>
              <input type="number" class="form-control" id="capaciteBloc" [(ngModel)]="bloc.capaciteBloc" required #nominput="ngModel">
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <input type="text" class="form-control" id="status" [(ngModel)]="bloc.status" required #nominput="ngModel" >
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea type="text" class="form-control" id="description" [(ngModel)]="bloc.description" required #nominput="ngModel">  </textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addbloc(f)" [disabled]="f.invalid">Add bloc</button>
          </form>
        </div>

    </div>
  </div>
</div>


