<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 d-flex">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Ajouter une chambre</h5>
              <div class="alert alert-success" role="alert" [hidden]="hideDemande">
                Chamber Ajouter avec success .
              </div>
              <form (ngSubmit)="onSubmit()" class="php-email-form" [formGroup]="form" novalidate>

               
                    <label for="numerochamber" class="form-label">Numéro de chambre</label>
                    <input type="number" name="numerochamber"  formControlName="numerochamber"
                    class="form-control form-control-lg" id="numerochamber" placeholder="Numéro de chambre"
                    [class.is-invalid]="form.get('numerochamber')?.invalid && form.get('numerochamber')?.dirty" required>
             <div class="invalid-feedback">
               <app-error-message [err]="form.get('numerochamber')" [field]="'numerochamber'"></app-error-message>
             </div>                                             
                <br>
                <div>
                  <label for="typeC">Type de chambre</label>
                  <select
                    name="typeC"
                    formControlName="typeC"
                    required
                    class="form-select"
                     >
                    <option value="" disabled selected>Choisissez un type de chambre</option>
                    <option value="Simple">Simple</option>
                    <option value="Double">Double</option>
                    <option value="Triple">Triple</option>
                  </select>             
                </div>
                
                <br>
                <div>
                  <label for="description">Description</label>
                  <textarea name="description" formControlName="description"
                  class="form-control form-control-lg" id="description" placeholder="Enter Description"
                  [class.is-invalid]="form.get('description')?.invalid && form.get('description')?.dirty" required></textarea>
                 <div class="invalid-feedback">
              <app-error-message [err]="form.get('description')" [field]="'description'"></app-error-message>
              </div>
                
                
                </div>
                
              <br>
               
              <div class="input-group">
                <input type="file" id="image" class="form-control form-control-lg" (change)="onFileSelected($event)"
                      required>
                <label for="image" class="input-group-text"><i class="fas fa-cloud-upload-alt"></i> Choose an Image</label>
              </div>
                <br>
               
              
                <div>
                  <label for="selectedBloc">Sélectionnez un Bloc</label>
                  <select
                    class="form-select mr-sm-2"
                    formControlName="selectedBloc"
                    name="selectedBloc"
                    required
                    
                  >
                    <option value="" disabled selected>Choisissez un Bloc</option>
                    <option *ngFor="let bloc of blocs" [value]="bloc.nomBloc" (click)="selectBlocName(bloc.nomBloc)">{{ bloc.nomBloc }}</option>
                  </select>
                
                 
                </div>
                
                <br>
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Ajouter</button>

              

               

               
                
              </form>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
