
<br>
<br>
<!-- modify-my-profile.component.html -->
<form *ngIf="myForm" [formGroup]="myForm">
  <mat-accordion class="example-headers-align">
    <!-- Personal data -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="form-section">

        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nomEt">
          <mat-error *ngIf="myForm.get('nomEt')?.hasError('required')">
            Nom is required.
          </mat-error>
          <mat-error *ngIf="myForm.get('nomEt')?.hasError('pattern')">
            Nom should only contain letters and spaces.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prenom</mat-label>
          <input matInput formControlName="prenomEt">
          <mat-error *ngIf="myForm.get('prenomEt')?.hasError('required')">
            Prenom is required.
          </mat-error>
          <mat-error *ngIf="myForm.get('prenomEt')?.hasError('pattern')">
            Prenom should only contain letters and spaces.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>CIN</mat-label>
          <input matInput type="number" formControlName="cin">
          <mat-error *ngIf="myForm.get('cin')?.hasError('required')">
            CIN is required.
          </mat-error>
          <mat-error *ngIf="myForm.get('cin')?.hasError('pattern')">
            CIN should have exactly 8 numeric characters.
          </mat-error>
        </mat-form-field>

      <mat-form-field>
        <mat-label>Ecole</mat-label>
        <input matInput formControlName="ecole">
        <mat-error *ngIf="myForm.get('ecole')?.hasError('required')">
          Ecole is required.
        </mat-error>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
      </div>
    </mat-expansion-panel>


    <!-- Destination -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account info
        </mat-panel-title>
        <mat-panel-description>
          Your account infos
          <mat-icon>lock</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-section">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" [value]="user.email" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enabled</mat-label>
        <input matInput formControlName="Enabled" [value]="user.enabled ? 'Enabled' : 'Not enabled'" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput formControlName="Role" [value]="user.role" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Joined at </mat-label>
        <input matInput formControlName="Role" [value]="user.createdAt" [disabled]="true">
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
        </div>
    </mat-expansion-panel>

    <!-- Day of the trip -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Date of birth
        </mat-panel-title>
        <mat-panel-description>
          Inform the date of birth
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-section">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
          <mat-error *ngIf="myForm.get('dateNaissance')?.hasError('required')">
            Date of Birth is required.
          </mat-error>
          <mat-error *ngIf="myForm.get('dateNaissance')?.hasError('futureDate')">
            Date of Birth cannot be in the future.
          </mat-error>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </div>
    </mat-expansion-panel>

    <div class="center-button">
      <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="!isFormValid">
        Update
      </button>
    </div>
  </mat-accordion>

</form>

<br>
<br>
