<!-- chamber-update.component.html -->

<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 d-flex">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Modifier la chambre</h5>
              <form (ngSubmit)="updateChamber()">

                <div class="mb-3">
                  <label for="numerochamber" class="form-label">Numéro de chambre</label>
                  <input
                    type="number"
                    name="numerochamber"
                    [(ngModel)]="chamber.numerochamber"
                    required
                    class="form-control"
                  >
                </div>
                <div class="mb-3">
                  <label for="numerochamber" class="form-label">Current Bloc </label>
                  <input
                    type="text"
                    name="bloc"
                    [(ngModel)]="currentBloc!.nomBloc"
                    disabled
                    class="form-control"
                  >
                </div>
                <div class="mb-3">
                  <label 
                    [hidden]="true"
                    for="CreatedAt">CreatedAt</label>
                  <input
                    [hidden]="true"
                    type="date"
                    name="CreatedAt"
                    [(ngModel)]="chamber.createdAt"
                    required
                    class="form-control"
                  >
                </div>
           
                <div class="mb-3">
                  <label 
                    [hidden]="true"
                    for="UpdatedAt">UpdatedAt</label>
                  <input
                    [hidden]="true"
                    type="date"
                    name="UpdatedAt"
                    [(ngModel)]="chamber.updatedAt"
                    required
                    class="form-control"
                  >
                </div>
                <br>
                <div class="mb-3">
                  <label for="typeC" class="form-label">Type de chambre</label>
                  <select
                    name="typeC"
                    [(ngModel)]="chamber.typeC"
                    required
                    class="form-select"
                  >
                    <option value="Simple">Simple</option>
                    <option value="Double">Double</option>
                    <option value="Triple">Triple</option>
                  </select>
                </div>
                <br>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea
                    name="description"
                    [(ngModel)]="chamber.description"
                    required
                    class="form-control"
                  ></textarea>
                </div>
               
                <div class="mb-3">
                  <label for="selectedBloc" class="form-label">Nom du Bloc</label>
                  <select class="form-select" name="selectedBloc">
                    <option value="" disabled selected>Choisissez un Bloc</option>
                    <option 
                    
                    *ngFor="let bloc of blocs"  (click)="changeBloc(bloc)">{{ bloc.nomBloc }}</option>
                  </select>
                </div>
                <div>
                  <label for="image">Image:</label>
                  <input type="file" id="image" (change)="onFileSelected($event)" required>
                  <button> update image </button>
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Modifier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
