<!-- chamber-update.component.html -->

<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 d-flex">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Update Chamber</h5>
              <form (ngSubmit)="updateChamber()">

                <div>
                  <label for="numerochamber">Numéro chambre</label>
                  <input
                    type="number"
                    name="numerochamber"
                    [(ngModel)]="chamber.numerochamber"
                    required
                    class="form-control"
                  >
                </div>
                <div>
                  <label 
                  [hidden]="true"
                  for="CreatedAt">CreatedAt</label>
                  <input
                  [hidden]="true"
                    type="date"
                    name="CreatedAt"
                    [(ngModel)]="chamber.createdAt"
                    required
                    class="form-control"
                  >
                </div>
                <div>
                  <label 
                  [hidden]="true"
                  for="UpdatedAt">UpdatedAt</label>
                  <input
                  [hidden]="true"
                    type="date"
                    name="UpdatedAt"
                    [(ngModel)]="chamber.UpdatedAt"
                    required
                    class="form-control"
                  >
                </div>
                <div>
                  <label for="typeC">Type chambre</label>
                  <select
                    name="typeC"
                    [(ngModel)]="chamber.typeC"
                    required
                    class="form-select"
                  >
                    <option value="Simple">Simple</option>
                    <option value="Double">Double</option>
                    <option value="Triple">Triple</option>
                  </select>
                </div>

                <div>
                  <label for="description">Description</label>
                  <textarea
                    name="description"
                    [(ngModel)]="chamber.description"
                    required
                    class="form-control"
                  ></textarea>
                </div>

                <div>
                  <label for="etat">Status</label>
                  <input
                    type="checkbox"
                    name="etat"
                    [(ngModel)]="chamber.etat"
                    class="form-check-input"
                  >
                  <label class="form-check-label" for="etat">Status</label>
                </div>

                <p>Status: {{ chamber.etat ? 'Valid' : 'Invalid' }}</p>

                <button type="submit" class="btn btn-primary">Update Chamber</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
