.sidebar {
    height: 100%;
    width: 20%;
    background-color: #111;
    padding-top: 20px;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    color: white;
  }
  
  /* Style the sidebar links */
  .sidebar a {
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* Change color on hover */
  .sidebar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 20%; /* Adjusted to match the width of the sidebar */
    padding: 16px;
  }
  
  /* Style the tab */
  .tab {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    color: black;
    padding: 15px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    height: 300px;
  }
  
  /* Adjustments for responsiveness */
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 100%;
      text-align: center;
    }
  
    .content {
      margin-left: 0;
    }
  }
  