.example-form {
    width: 80%;
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .custom-width {
    width: 400px; /* Adjust the width as needed */
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .mat-form-field {
    width: 100%; /* Make the input fields take the full width */
  }
  
  .submit-button {
    font-size: 16px; /* Adjust the font size as needed */
    padding: 0px 0px; /* Adjust the padding as needed */
  }
  