<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
<app-side></app-side>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
    <div class="row">
 

      <div class="col-lg-12 d-flex ">
        <div class="card w-100">
          <div class="card-body p-4">
            <div class="row">
              <h5 class="card-title fw-semibold mb-4 col-10">Create Reservation</h5>
              <a href="#" class="btn  btn-primary col-2"> Enregistrer</a>
            </div>
            <h5 class="card-title fw-semibold mb-4 col-10">Create Reservation</h5>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

