<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="assets/images/logos/dark-logo.svg" width="180" alt="" />
      </a>

    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="./index.html" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">FOYER</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link"  (click)="GoToChamber()" aria-expanded="false">
            <span>
              <i class="ti ti-bed"></i>
            </span>
            <span class="hide-menu">Chambre</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="GoToBlocs()" aria-expanded="false">
            <span>
              <i class="ti ti-container"></i>
            </span>
            <span class="hide-menu">Blocs</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="GoToFoyer()" aria-expanded="false">
            <span>
              <i class="ti ti-home-2"></i>
            </span>
            <span class="hide-menu" >Foyer</span>
          </a>
        </li>


        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Réservation</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="GoToReservation()" aria-expanded="false">
            <span>
              <i class="ti ti-login"></i>
            </span>
            <span class="hide-menu">Liste Reservation</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Universite</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="GoToUniversite()" aria-expanded="false">
            <span>
              <i class="ti ti-login"></i>
            </span>
            <span class="hide-menu">Universiteee</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="GoToUniversiteInfo()" aria-expanded="false">
            <span>
              <i class="ti ti-login"></i>
            </span>
            <span class="hide-menu">Universite INFO</span>
          </a>
        </li>

      </ul>

    </nav>
  </div>
</aside>
