.profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-image-container {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  