
<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
     data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Universite Details {{universite.idUniversite}}</h5>
          <p class="mb-0">Nom Universite : {{universite.nomUniversite}} </p>
          <p class="mb-0">Adresse Universite : {{universite.adress}} </p>
          NAFFICHEW HNE IL FOYER W LES BLOCS ILY FYYH 
        </div>
      </div>
    </div>
  </div>
</div>
