<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
<app-side></app-side>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div class="project-info-box mt-0">
              <h2  style="color: #0099cc;">Univeristy details :</h2>
              <p class="mb-0"><b> Description : </b>{{universite.description}}</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
              <p><b>Adresse : </b>{{universite.adresse}}</p>
              <p><b>Nom de l'agent :</b>{{universite.firstNameAgent}}</p>
              <p><b>Prénom de l'agent :</b>{{universite.lastNameAgent}}</p>
              <p><b>Email :</b>{{universite.email}}</p><br>

              <p style="color: #ff0066;"><b>Attestation : </b></p>
              <div *ngIf="universite.documents && universite.documents.length > 0">
                <div *ngFor="let document of universite.documents">
                  <div *ngIf="document.documentType === 'FICHIER'" class="d-flex justify-content-center">
                    <button class="btn btn-outline-info" (click)="downloadURL(document)">
                      <i class="fas fa-download"></i> Download Attestation
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <p style="color: #ff0066;"><b>Justification : </b></p>
              <div *ngIf="universite.documents && universite.documents.length > 0">
                <div *ngFor="let document of universite.documents">
                  <div *ngIf="document.documentType === 'JUSTIFICATION'" class="d-flex justify-content-center">
                    <button class="btn btn-outline-info" (click)="downloadURL(document)">
                      <i class="fas fa-download"></i> Download Justification
                    </button>
                  </div>
                </div>
              </div>

            </div><!-- / project-info-box -->


          <div class="project-info-box mt-0 mb-0 ml-auto">
              <p><b>Accepté ou Non ? :              </b>
              <button type="button" class="btn"
                      [class.btn-success]="universite.statuts === 'Accepté'"
                      [class.btn-danger]="universite.statuts === 'Refusé'"
                      [class.btn-warning]="universite.statuts === 'En_attente'"
                      [class.btn-disabled]="universite.statuts === 'Disabled'"

                      (click)="cycleStatus(universite)">
                {{ universite.statuts }}
              </button>
              </p><br>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

     <div class="col-md-7">
      <div class="image-container">
        <img [src]="'data:' + universite.image?.image_type + ';base64,' + universite.imagebyte" alt="Universite Image" class="rounded"><br>

        <p style="color: #ff0066; margin-top: 10px;"><b>University Logo : </b></p>
        <div *ngIf="universite.documents && universite.documents.length > 0">
          <div *ngFor="let document of universite.documents">
            <div *ngIf="document.documentType === 'LOGO'">
              <img class="rounded-logo" [src]="'data:' + universite.image?.image_type + ';base64,' + document.documentContent" alt="Universite Image">
            </div>
          </div>
        </div>
      </div>
    </div><!-- / column -->

</div>
    </div>
</div>
</div>

