<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
     data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
     <app-side></app-side>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Les détails de cet université {{universite.idUniversite}}</h5>
          <p class="mb-0">Nom Université  : {{universite.nomUniversite}} </p>
          <p class="mb-0">Adresse universite: {{universite.adresse}} </p>
          <table class="table  text-nowrap mb-0 align-middle">
            <thead class=" table-info text-dark fs-4">
            <tr>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Id</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Nom de l'université</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">L'adresse de l'université</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Description</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Email de l'agent</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Prénom d'agent</h6>
              </th>
              <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Nom d'agent</h6>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td class="border-bottom-0">

                <h6 class="fw-semibold mb-0">{{universite.idUniversite}}</h6></td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-1">{{universite.nomUniversite}}</h6>

              </td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-1">{{universite.adresse}}</h6>

              </td>

              <td class="border-bottom-0">
                <div class="d-flex align-items-center gap-2">
                  <span class="badge bg-primary rounded-3 fw-semibold">{{universite!.description}}</span>
                </div>
              </td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-0 fs-4">{{universite!.email}}</h6>
              </td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-0 fs-4">{{universite!.firstNameAgent}}</h6>
              </td>
              <td class="border-bottom-0">
                <h6 class="fw-semibold mb-0 fs-4">{{universite!.lastNameAgent}}</h6>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
