<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />



    <!-- Contenu principal -->
    <div class="container-fluid mt-4"> <!-- Augmentez la marge en haut pour déplacer le contenu vers le bas -->
      <div class="row">
        <div class="col-md-6">
          <img style="width: 600px; height: 450px; object-fit: cover;" class="img-fluid"  [src]="'data:' + foyer.image?.image_type + ';base64,' + foyer.imagebyte" alt="Foyer Image">
          <div class="project-info-box">
            <p class="lead"><b>Description:</b> {{foyer.description}}</p> <hr>
          </div>
        </div>
        <div class="col-6">
          <div class="project-info-box mt-0">
            <h1 class="display-4" style="color: blue;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Detail Foyer</h1>
          </div>
          <br>
          <div class="project-info-box">
            <p class="lead"><b>Nom de Foyer:</b>{{foyer.nomFoyer}} </p> <hr>
            <p class="lead"><b>Capacite de Foyer:</b> {{foyer.capaciteFoyer}}</p> <hr>
            <p class="lead"><b>Adresse de Foyer:</b> {{foyer.adresse}}</p> <hr>
            <p class="lead"><b>Date de Création:</b> {{ foyer.createdAt | date: 'yyyy-MM-dd' }}</p><hr>
            <p class="lead"><b>Date de Modification :</b> {{ foyer.updatedAt | date: 'yyyy-MM-dd' }}</p><hr>
            <div *ngFor="let bloc of blocs" >
            <p class="lead"><b>Bloc Name :</b> {{bloc.nomBloc}}</p> <hr>
            <p class="lead"><b>Capacite de Bloc:</b> {{bloc.capaciteBloc}}</p> <hr>
            </div>
            <div *ngFor="let universite of universites">
            <p class="lead"><b>Nom de Universite:</b> {{universite.nomUniversite}}</p> <hr>
            <p class="lead"><b>Adresse de Universite:</b> {{universite.adresse}}</p> <hr>
            
          </div>

          </div>
        </div>

      
        <div class="border-bottom-0" style="margin-left: 800px;">
          <a (click)="redirectToUpdateFoyer(foyer.idFoyer)" class="btn btn-primary btn-sm" >Modifier</a>
          <span style="margin-left: 20px;" > <a (click)="GoBack()" routerLinkActive="active" class="btn btn-secondary btn-sm">Back</a></span>
      </div>
      </div>
    </div>
  </div>
</div>


