.form-section {
  display: flex;
  flex-direction: column;
  gap: 1px; /* Adjust the gap as needed */
  margin-bottom: 1px; /* Adjust the bottom margin as needed */
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed for spacing */
}

/* Make the button a little bigger */
button.mat-raised-button {
  font-size: 1.2em; /* Adjust the font size as needed */
  padding: 12px 24px; /* Adjust the padding as needed */
}
