<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
  data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar></app-sidebar>
  <div class="body-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Reservation Details {{reservation.idReservation}}</h5>
            <p class="mb-0">Reservation Date : {{reservation.anneeReservation}} </p>
            <p class="mb-0">Reservation State : {{reservation.estValide}} </p>
            <table class="table  text-nowrap mb-0 align-middle">
                <thead class=" table-info text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Etudiant Name </h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Etudiant prenomEt</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Email</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Cin</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Universite</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="border-bottom-0">
                   
                        <h6 class="fw-semibold mb-0">{{reservation.etudiants[0].idEtudiant}}</h6></td>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{reservation.etudiants[0].nomEt}}</h6>
                                            
                    </td>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{reservation.etudiants[0].prenomEt}}</h6>
                                            
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal">Yessne@gmail.com</p>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <span class="badge bg-primary rounded-3 fw-semibold">{{reservation.etudiants[0].cin}}</span>
                      </div>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0 fs-4">{{reservation.etudiants[0].ecole}}</h6>
                    </td>
                    <td class="border-bottom-0">
                    
                     
                    </td>
                  </tr> 
                                    
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>
</div>
