<!--<!DOCTYPE html>-->
<!--&lt;!&ndash; Coding By CodingNepal - codingnepalweb.com &ndash;&gt;-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title> Profle Card UI Design | CoderGirl </title>-->
<!--  &lt;!&ndash;-Custom Css File!-&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<section class="main">-->
<!--  <div class="profile-card">-->
<!--    <div class="image">-->
<!--      &lt;!&ndash;<img src="images/profile.jpg" alt="" class="profile-pic">&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="data">-->
<!--      <h2>Olivia Gomez</h2>-->
<!--      <span>Developer & Designer</span>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="info">-->
<!--        <h3>Following</h3>-->
<!--        <span>120</span>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <h3>Followers</h3>-->
<!--        <span>5000</span>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <h3>Posts</h3>-->
<!--        <span>209</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->
















  <h1 mat-dialog-title>User details</h1>
  <div mat-dialog-content class="profile-container">
  <div class="profile-image-container">
    <!-- You can use ngIf to check if there is an image URL available -->
    <img src="https://play-lh.googleusercontent.com/C9CAt9tZr8SSi4zKCxhQc9v4I6AOTqRmnLchsu1wVDQL0gsQ3fmbCVgQmOVM1zPru8UH=w240-h480-rw" alt="Profile Image" class="profile-image">
    <!-- Use a default image or icon if the user does not have a profile image -->
    <ng-template #defaultImage>
      <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
    </ng-template>
  </div>

  <div class="profile-details">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <mat-divider></mat-divider>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <mat-divider></mat-divider>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <mat-divider></mat-divider>
    <p><strong>NomEt:</strong> {{ user.nomEt }}</p>
    <mat-divider></mat-divider>
    <p><strong>PrenomEt:</strong> {{ user.prenomEt }}</p>
    <mat-divider></mat-divider>
    <p><strong>CIN:</strong> {{ user.cin }}</p>
    <mat-divider></mat-divider>
    <p><strong>Ecole:</strong> {{ user.ecole }}</p>
    <mat-divider></mat-divider>
    <p><strong>Date de Naissance:</strong> {{ user.dateNaissance }}</p>
    <mat-divider></mat-divider>
    <p><strong>Enabled:</strong> {{ user.enabled ? 'Yes' : 'No' }}</p>
    <mat-divider></mat-divider>
    <p><strong>Created At:</strong> {{ user.createdAt }}</p>
  </div>
</div>

<div mat-dialog-actions>
  <!-- You can add buttons or other actions here if needed -->
  <button mat-button [mat-dialog-close]="'close'">Close</button>
</div>
